<div class="card">
Arnaud GERMAN<br>
<a href="tel:+33622430305" class="contact">06 22 43 03 05</a><br>
<a href="mailto:arnaud.german@gmail.com?subject=Contact via portfolio" class="contact">arnaud.german@gmail.com</a>
</div>